*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Jupyter
.ipynb_checkpoints/*

# Notebook created
mymodule.py
random-matrix.csv
random-matrix.npy
filename.png
animation.mp4
test.svg

cy_dcumsum.c
cy_dcumsum.pyx
dcumsum.f
dprod.f
dprod.pyf
functions.c
functions.o
functions.py
hello.py
hellofortran.f
run_hello_c.py
setup.py

mpi-matrix-vector.py
mpi-numpy-array.py
mpi-psum.py
mpitest.py
opencl-dense-mv.py
random-vector.npy

